<h2>{{ comments|length }} comments</h2>
{% for comment in comments %}
    {% set community_slug = community.slug %}
    <div class="comment" hx-ext="path-deps">
        <div class="left-col">
            <div class="col">
                {% if comment.is_anonymous == 0 %}
                    <div class="avatar"><img src="{{ comment._author.image }}" alt="{{ comment._author.display_name }}'s avatar"></div>
                {% else %}
                    <div class="avatar">{% if anon_author_avatar is not empty %}{{ anon_author_avatar }}{% else %}<i class="fa fa-regular fa-user-secret"></i>{% endif %}</div>
                {% endif %}
            </div>
            <div class="col">
                {% if comment.is_anonymous == 0 %}
                    <a href="/@{{ comment._author.username }}"><div class="comment__username">{{ comment._author.username }}</div></a>
                {% else %}
                    <span class="comment__username">{% if comment.anon_author_name is not empty %}{{ comment.anon_author_name }}{% else %}Anonymous{% endif %}</span>
                {% endif %}
                <div class="comment__timestamp">{{ comment.date_posted.date|timeago }}</div>
            </div>
        </div>
        <div class="center-col">
            {% if comment.name is not empty %}
                <div class="comment__subj">
                    <b>{{ comment.name }}</b>
                </div>
                <div class="comment__text">
                    {{ comment.content|markdown_to_html|raw }}
                </div>
            {% else %}
                <div class="comment__text">
                    {{ comment.content|markdown_to_html|raw }}
                </div>
            {% endif %}
        </div>
        <div class="right-col">
            <div class="comment__score">
                {% if tpl.user.isLoggedIn == false %}
                    <button class="action action__upvote" hx-post="/c/{{ community_slug }}/posts/{{ post.id }}/comments/{{ comment.id }}/upvote" hx-swap="none" hx-trigger="click" hx-disable type="button" disabled><i class="fa fa-regular fa-plus"></i></button>
                    <div class="score" hx-get="/c/{{ community_slug }}/posts/{{ post.id }}/comments/{{ comment.id }}/score" hx-trigger="path-deps" path-deps="/c/{{ community_slug }}/posts/{{ post.id }}/comments/{{ comment.id }}/*">{{ comment.score }}</div>
                    <button class="action action__downvote" hx-post="/c/{{ community_slug }}/posts/{{ post.id }}/comments/{{ comment.id }}/downvote" hx-swap="none" hx-trigger="click" hx-disable type="button" disabled><i class="fa fa-regular fa-minus"></i></button>
                {% else %}
                    <button class="action action__upvote" hx-post="/c/{{ community_slug }}/posts/{{ post.id }}/comments/{{ comment.id }}/upvote" hx-swap="none" hx-trigger="click" type="button"><i class="fa fa-regular fa-plus"></i></button>
                    <div class="score" hx-get="/c/{{ community_slug }}/posts/{{ post.id }}/comments/{{ comment.id }}/score" hx-trigger="path-deps" path-deps="/c/{{ community_slug }}/posts/{{ post.id }}/comments/{{ comment.id }}/*">{{ comment.score }}</div>
                    <button class="action action__downvote" hx-post="/c/{{ community_slug }}/posts/{{ post.id }}/comments/{{ comment.id }}/downvote" hx-swap="none" hx-trigger="click" type="button"><i class="fa fa-regular fa-minus"></i></button>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}