<aside class="page__sidebar--left">
    <div class="sidebar__group">
        {% for community in tpl.communities_data %}
            <a href="/c/{{ community.slug }}/" class="sidebar__link link--dark" title="Experimental community">{% if community.icon is not empty %}<span class="icon">{{ community.icon|raw }}</span>{% endif %}<span class="text">{{ community.name }}</span></a>
        {% endfor %}
    </div>
    <div class="sidebar__group">
        <a href="/communities" class="sidebar__link"><span class="icon"><i class="fa fa-regular fa-ellipsis"></i></span><span class="text">More</span></a>
        <a href="#" class="sidebar__link"><span class="icon"><i class="fa fa-regular fa-gear"></i></span><span class="text">Customize</span></a>
    </div>
    <div class="sidebar__group">
        <a href="https://discord.gg/nCQ8XkM" class="sidebar__link"><span class="icon"><i class="fa fa-brands fa-discord"></i></span><span class="text">Discord server</span></a>
        <a href="https://squabblr.co/s/delv" class="sidebar__link"><span class="icon"><i class="fa fa-regular fa-link"></i></span><span class="text">Squabblr</span></a>
        <a href="https://discuit.net/Delv" class="sidebar__link"><span class="icon"><i class="fa fa-regular fa-link"></i></span><span class="text">Discuit</span></a>
    </div>
</aside>