<!doctype html>
<html lang="{{ page__lang ? page__lang : "en" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page__title ? page__title : "Delv" }}</title>
    <!-- Meta tags -->
    {% block page__html__meta %}

    {% endblock %}
    <!-- /Meta tags -->
    <!-- External styles and scripts -->
    {% block page__html__styles %}
        {% include "_styles.twig" %}
    {% endblock %}
    {% block page__html__scripts %}
        {% include "_scripts.twig" %}
    {% endblock %}
    <!-- /External styles and scripts -->
    <!-- Internal styles and scripts -->
    {% block page__html__userstyles %}

    {% endblock %}
    <!-- /Internal styles and scripts -->
</head>
<body>
    {% block page__content %}

    {% endblock %}
</body>
</html>