<header class="page__header" hx-disinherit="*" hx-preserve>
    <div class="nav--left">
        <div class="nav-group">
            <a href="/" class="logo">
                <svg width="100%" height="24" viewBox="0 0 230 160" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Delv/Logo">
                        <path id="Union" fill-rule="evenodd" clip-rule="evenodd" d="M0 120H60V0H40V40H0V120ZM20 60H40V100H20V60ZM90 140V120H130V40H70V160H130V140H90ZM90 60H110V100H90V60ZM160 0H140V120H160V0ZM190 40H170V120H210V100H230V40H210V100H190V40Z" fill="white"/>
                    </g>
                </svg>
                <i class="fa fa-regular fa-badge-check" title="Official instance is a serious business."></i>
            </a>
            <button id="header__btn-submit" class="btn btn--primary"><span class="icon"><i class="fa fa-regular fa-plus"></i></span><span class="text">Submit</span></button>
        </div>
        <div class="nav-group">
            <a href="#" class="nav__link">Top</a>
            <a href="#" class="nav__link"><i class="fa fa-regular fa-flask"></i> Labs</a>
        </div>
    </div>
    <div class="nav--right">
        {% if tpl.user.isLoggedIn == false %}
            <div class="nav-group">
                <button id="header__btn-register" class="btn btn--primary"><span class="text">Join Delv</span></button>
                <button id="header__btn-login" class="btn"><span class="text">Login</span></button>
            </div>
        {% else %}
            <div class="nav-group">
                <a href="/@{{ tpl.user.session.username }}" class="user--inline">{% if tpl.user.session.image is not empty %}<span class="avatar"><img src="{{ tpl.user.session.image }}" alt="{{ tpl.user.session.display_name }}'s avatar"></span>{% endif %}<span class="username">{{ tpl.user.session.display_name }}</span></a>
            </div>
            <div class="nav-group">
                <button id="header__btn-logout" class="btn"><span class="text">Logout</span></button>
            </div>
        {% endif %}
        <div class="nav__search">
            <input type="text" name="nav-search-text" id="nav_search_text" placeholder="Search users or stories">
            <button class="btn btn--icon"><span class="icon"><i class="fa fa-regular fa-magnifying-glass"></i></span></button>
        </div>
    </div>
</header>