{% if post is not empty %}
    {% if post._community is not empty %}
        {% set flags = {'is_community': false} %}
        {% set community_slug = post._community.slug %}
    {% else %}
        {% set flags = {'is_community': true} %}
        {% set community_slug = community.slug %}
    {% endif %}
    <div class="story-container">
        <div class="left-container">
            <div class="left">
                <div class="story__score" hx-get="/c/{{ community_slug }}/posts/{{ post.id }}/score" hx-trigger="path-deps" path-deps="/c/{{ community_slug }}/posts/{{ post.id }}/*">
                    {% if post.score is not empty %}
                        {{ post.score }}
                    {% else %}
                        <iconify-icon icon="mdi:fly-flower" height="32" width="32"></iconify-icon>
                    {% endif %}
                </div>
                {% if tpl.user.isLoggedIn == false %}
                    <button hx-post="/c/{{ community_slug }}/posts/{{ post.id }}/upvote" hx-swap="none" hx-trigger="click" hx-disable class="btn btn--primary story__upvote" type="button" disabled>
                        <iconify-icon inline icon="mdi:shovel"></iconify-icon>
                        <span>Dig</span>
                    </button>
                {% else %}
                    <button hx-post="/c/{{ community_slug }}/posts/{{ post.id }}/upvote" hx-swap="none" hx-trigger="click" class="btn btn--primary story__upvote" type="button">
                        <iconify-icon inline icon="mdi:shovel"></iconify-icon>
                        <span>Dig</span>
                    </button>
                {% endif %}
            </div>
            <div class="thumb">
                {% if post.thumbnail is not empty %}
                    <img src="{{ post.thumbnail }}" alt="Post thumbnail">
                {% else %}
                    {% switch post.post_type %}
                    {% case 'markdown' %}
                        <i class="fa fa-regular fa-text"></i>
                    {% case 'image' %}
                        <i class="fa fa-regular fa-image"></i>
                    {% case 'gallery' %}
                        <i class="fa fa-regular fa-images"></i>
                    {% default %}
                        <i class="fa fa-regular fa-text"></i>
                    {% endswitch %}
                {% endif %}
            </div>
        </div>
        <article class="story">
            <div class="heading-container">
                <a href="/c/{{ post._community.slug }}/posts/{{ post.id }}"><h class="story__heading">{{ post.name }}</h></a>
                {% if post.source is not empty %}
                    <div class="story__source"><a href="{{ post.source.url }}" class="url">{{ post.source.domain }}</a></div>
                {% endif %}
            </div>
            <main class="story__body">
                <div class="story__teaser">
                    {{ post.content_teaser|markdown_to_html|raw }}
                </div>
                <div class="story__content">
                    {{ post.content_full|markdown_to_html|raw }}
                </div>
            </main>
            <footer class="story__footer">
                <div class="story__meta">
                    <div class="meta__date">{{ post.date_posted.date|timeago }}</div>
                    <span class="meta__author">by <a href="/@{{ post._author.username }}" class="user--inline">{% if post._author.display_name is not empty %}<span class="avatar"><img src="{{ post._author.image }}" alt="{{ post._author.display_name }}'s avatar"></span><span class="username">{{ post._author.display_name }}</span>{% else %}<span class="avatar"><img src="{{ post._author.image }}" alt="{{ post._author.username }}'s avatar"></span><span class="username">{{ post._author.username }}</span>{% endif %}</a></span>
                </div>
                <div class="story__actions">
                    <a href="/c/{{ community.slug }}/posts/{{ post.id }}" class="action"><span class="icon"><i class="fa fa-regular fa-comments"></i></span><span class="text">{{ post._comments|length }}</span></a>
                    {% if tpl.user.isLoggedIn == false %}
                        <button hx-post="/c/{{ community.slug }}/posts/{{ post.id }}/save" hx-swap="none" hx-trigger="click" hx-disable class="action" disabled><span class="icon"><i class="fa fa-regular fa-bookmark"></i></span><span class="text">Save</span></button>
                        <button hx-post="/c/{{ community_slug }}/posts/{{ post.id }}/downvote" hx-swap="none" hx-trigger="click" hx-disable class="action story__downvote" type="button" disabled><span class="icon"><i class="fa fa-regular fa-xmark"></i></span><span class="text">Bury</span></button>
                    {% else %}
                        <button hx-post="/c/{{ community.slug }}/posts/{{ post.id }}/save" hx-swap="none" hx-trigger="click" class="action"><span class="icon"><i class="fa fa-regular fa-bookmark"></i></span><span class="text">Save</span></button>
                        <button hx-post="/c/{{ community_slug }}/posts/{{ post.id }}/downvote" hx-swap="none" hx-trigger="click" class="action story__downvote" type="button"><span class="icon"><i class="fa fa-regular fa-xmark"></i></span><span class="text">Bury</span></button>
                    {% endif %}
                </div>
            </footer>
        </article>
    </div>
    <div class="comments-container" hx-trigger="load" hx-get="/c/{{ post._community.slug }}/posts/{{ post.id }}/comments" hx-target=".comments">
        <div class="comment-form">
            <form id="comment-form" hx-post="/c/{{ post._community.slug }}/posts/{{ post.id }}/comment" hx-target=".comments-container > .comments" hx-swap="innerHTML">
                <div class="field-group">
                    <label for="comment_name">Subject</label>
                    <input name="comment_name" type="text">
                </div>
                <textarea name="comment_content" cols="30" rows="10" placeholder="Comment text" required></textarea>
                <div class="field-group">
                    <button class="fixed" type="submit">Send</button>
                    {% if tpl.user.isLoggedIn == false %}
                        <span>(Will be sent anonymously)</span>
                    {% endif %}
                </div>
            </form>
        </div>

        <div class="comments" hx-get="/c/{{ post._community.slug }}/posts/{{ post.id }}/comments" hx-trigger="path-deps" path-deps="/c/{{ post._community.slug }}/posts/{{ post.id }}/comment">
        </div>
    </div>
{% else %}
    <div class="story-container">
        <article class="story">
            <div class="heading-container">
                <h2 class="story-heading">Your post has gone missing</h2>
            </div>
            <main class="story__body" style="display: flex; flex-direction: column;">
                <p><iconify-icon icon="mdi:fly-flower" height="64" width="64"></iconify-icon></p>
            </main>
        </article>
    </div>
{% endif %}