<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/path-deps.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="{{ tpl.theme.theme_assets_path }}/fa/fontawesome.min.js" data-auto-replace-svg="nest"></script>
<script src="{{ tpl.theme.theme_assets_path }}/fa/solid.min.js"></script>
<script src="{{ tpl.theme.theme_assets_path }}/fa/regular.min.js"></script>
<script src="{{ tpl.theme.theme_assets_path }}/fa/brands.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@discordapp/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
<script src="{{ tpl.theme.theme_assets_path }}/js/main.js" defer></script>