{% extends "_page.twig" %}

{% block page__content %}
    <div class="stories" hx-ext="path-deps">
        {% include "_post.twig" %}
    </div>
{% endblock %}

{% block _page_userscripts %}
    <script>
        var twig_vars = {"post_id": {{ post.id }}, "post_url": `/c/{{ post._community.slug }}/posts/{{ post.id }}` };
    </script>
{% endblock %}

{% block page__sidebar__right %}
    <aside class="page__sidebar--right">
        <div class="sidebar__block">
            <header class="block__header">
                <div class="heading">About community</div>
                <div class="actions">
                    <a href="#" class="action--icon"><i class="fa fa-regular fa-ellipsis"></i></a>
                    <a href="/c/{{ community.slug }}/manage" class="action--icon"><i class="fa fa-regular fa-gears"></i></a>
                </div>
            </header>
            <div class="block__body">
                <section class="meta">
                    <div class="left">
                        <i class="fa fa-regular fa-gears"></i>
                    </div>
                    <div class="right">
                        <p><b>{{ community.name }}</b></p>
                        <p>{{ community.users }} members</p>
                    </div>
                </section>
                <section class="description">
                    {{ community.description }}
                </section>
            </div>
            <footer class="block__footer">
                <div class="actions">
                    <a href="/c/{{ community.slug }}/join" class="action action--primary">Join</a>
                    <a href="#" class="action">Share</a>
                </div>
            </footer>
        </div>
    </aside>
{% endblock %}