{% extends "_page__clean.twig" %}

{% block page__html__styles %}
    <link rel="stylesheet" href="{{ tpl.theme.theme_assets_path }}/styles/auth.css">
{% endblock %}

{% block page__content %}
    <main>
        {% if tpl.user.isLoggedIn == true %}
            <div class="messages">
                <div class="message">
                    <h>Caution!</h>
                    <div class="body">
                        <p>You are already registered as {{ tpl.user.session.display_name }} ({{ tpl.user.session.username }}) since {{ tpl.user.session.date_registered.date|timeago }}.</p>
                        <p>Proceed if you want to register another account.</p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="login-box">
            <div class="heading">
                <svg class="logo" width="100%" height="24" viewBox="0 0 230 160" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Delv/Logo">
                        <path id="Union" fill-rule="evenodd" clip-rule="evenodd" d="M0 120H60V0H40V40H0V120ZM20 60H40V100H20V60ZM90 140V120H130V40H70V160H130V140H90ZM90 60H110V100H90V60ZM160 0H140V120H160V0ZM190 40H170V120H210V100H230V40H210V100H190V40Z" fill="white"/>
                    </g>
                </svg>
            </div>
            <div class="content">
                <form id="login-form" method="post" action="/register">
                    <div class="field">
                        <label>Username</label>
                        <input name="username" type="text" value="" tabindex="1" autofocus required>
                    </div>
                    <div class="field">
                        <label for="display_name">Display name</label>
                        <input type="text" name="display_name">
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input type="email" name="email" required>
                    </div>
                    <div class="field">
                        <label for="email">Avatar url</label>
                        <input type="url" name="avatar" required>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input name="password" type="password" value="" required>
                    </div>
                    <div class="field">
                        <label>Repeat password</label>
                        <input name="password2" type="password" value="" required>
                    </div>
                    <div class="field">
                        <div class="g-recaptcha" data-sitekey="6LcjmocnAAAAALK8_-vMv7g9cpHlkAiLCpPuEvMc"></div>
                    </div>
                    <div class="btn-group">
                        <button class="btn-login" type="submit">Register</button>
                        <a href="/home" class="btn">Home</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}