{% extends "_page.twig" %}

{% block page__content %}
    <h2><s>Door stuck</s> Page WIP, Page WIP!</h2>
    <form name="post-submit" method="post" action="/submit">
        <label for="community">Community</label>
        <select name="community">
            {% for community in tpl.communities_data %}
                <option value="{{ community.id }}">{{ community.name }}</option>
            {% endfor %}
        </select>
        <label for="post-type">Type</label>
        <select name="post-type">
            <option value="markdown">Markdown</option>
            <option value="image">Image</option>
        </select>
        <label for="post-name">Name</label>
        <input name="post-name" type="text">
        <label for="post-content-teaser">Teaser text</label>
        <textarea name="post-content-teaser" cols="30" rows="10"></textarea>
        <label for="post-content-full">Text</label>
        <textarea name="post-content-full" cols="30" rows="10"></textarea>
        <button type="submit">Post</button>
    </form>
{% endblock %}