@charset "UTF-8";
@use "sass:color";
@use "sass:map";
@use 'sass:meta';
@use 'theme-light';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto+Slab:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

$breakpoints: (phone-xs: 240px, phone: 320px, phone-l: 640px, tablet: 768px, desktop: 1024px, desktop-fullhd: 1280px);

@mixin generate-variables($map) {
  @each $key, $value in $map {
    --#{$key}: #{$value};
  }
}

@mixin ui__button($fg:white,$bg:black,$size:"md"){
  // baseline
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 4px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  // text
  text-decoration: unset;
  font-family: unset;
  // misc
  cursor: pointer;
  user-select: none;
  // colors
  background: $bg;
  color: $fg;
  &:has(.icon){
    .icon{
      display: inline-flex;
      width: 16px;
      height: 16px;
      align-items: center;
      justify-content: center;
      font-size: 16px;
    }
  }
  &:hover{
    background: color-mix(in oklch, $bg, black 10%);
  }
  &:active{
    background: color-mix(in oklch, $bg, black 40%);
  }
  &:focus-within{

  }
  @if($size == "s"){
    padding: 4px;
    border-radius: 4px;
    height: 24px;
    gap: 4px;
    &:has(.icon){
      .icon{
        width: 16px;
        height: 16px;
        font-size: 12px;
      }
    }
  } @else if($size == "l"){
    padding: 10px;
    border-radius: 8px;
  }
  transition: all .2s ease-in-out;
}

:root{
  /*theme colors*/
  //@include generate-variables($dark-theme);
  @include generate-variables(theme-light.$colors);
}

html {
  box-sizing: border-box;
}

*::before,
*,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,body{
  //height: 100%;
  width: 100%;
}

body{
  font-family: 'Inter', sans-serif;
  background: var(--brand--primary) no-repeat center/cover;
}

main{
  height: inherit;
  width: inherit;
  display: flex !important;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  max-height: min-content;//
  fill: white;
  width: min-content;
  max-width: 100%;
  &:not(:last-child){
    margin: 0 20px 0 0;
  }
}

.messages{
  display: flex;
  flex-direction: column;
  gap: 20px;
  //padding: 20px;
  width: 340px;
  .message{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    padding: 20px;
    background: rgba(0,0,0,.4);
    border-radius: 5px;
    width: 100%;
    h{
      display: block;
      font-size: 1.2rem;
      font-weight: 600;
    }
    .body{
      >*:not(:last-child){
        margin: 0 0 10px 0;
      }
    }
  }
}

.login-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
  background: rgba(0,0,0,.4);
  border-radius: 5px;
  min-height: 300px;
  width: 340px;
  transition: all .2s ease-in-out;
  >*{
    width: 100%;
  }
  >*:not(:last-child){
    margin: 0 0 20px 0;
  }
  .heading{
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content{
    flex: 1;
  }
  #login-form{
    .field{
      display: flex;
      flex-direction: column;
      margin: 0 0 20px 0;
      label{
        margin: 0 0 10px 0;
      }
      input,select{
        display: flex;
        align-items: center;
        min-height: 20px;
        padding: 10px;
        border: unset;
        border-radius: 4px;
        font-size: 12pt;
      }
    }
    .btn-group{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
      >*{
        flex: 1;
      }
      >*:not(:last-child){
        margin: 0 10px 0 0;
      }
      &:last-child{
        margin: 20px 0 0 0;//
      }
    }
    %btn-tpl{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 50px;
      padding: 10px;
      border: unset;
      border-radius: 4px;
      font-size: 12pt;
    }
    .btn{
      @include ui__button(white,oklch(50% 0 0));
      @extend %btn-tpl;
    }
    .btn-login{
      @include ui__button(white,var(--brand--primary));
      @extend %btn-tpl;
    }
  }
}

@media (#{map-get($breakpoints,"phone-xs")} < width <= #{map-get($breakpoints,"phone-l")}) {
  body main{
    padding: 10px;
    transition: all .2s ease-in-out;
  }
}

@media (#{map-get($breakpoints,"phone-l")} < width <= #{map-get($breakpoints,"desktop")}) {
  body main{
    padding: 10px;
    transition: all .2s ease-in-out;
  }
}