@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto+Slab:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /*theme colors*/
  --brand--primary: oklch(50% 0.13 330);
  --header__bg: oklch(50% 0.13 330);
  --header__text: oklch(100% 0 0);
  --header__btn--primary: oklch(60% 0.11 183);
  --header__btn: oklch(43% 0.12 330);
  --header__search__btn: oklch(60% 0.11 183);
  --body__btn: oklch(90% 0 0);
  --body__btn--primary: oklch(50% 0.13 330);
  --body__btn--text: oklch(100% 0 0);
  --story__heading: oklch(50% 0.13 330);
  --story__btn--action: oklch(90% 0 0);
  --story__btn--text: oklch(0% 0 0);
}

html {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

*::before,
*,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

.page__header {
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--header__bg);
  padding: 0 10px;
  z-index: 1;
}
.page__header .nav--left, .page__header .nav--right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.page__header .user--inline {
  display: inline-flex;
  align-items: center;
  vertical-align: center;
  gap: 4px;
  text-decoration: unset;
  color: white;
  padding: 2px;
  border-radius: 0.25rem;
}
.page__header .user--inline .avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: grey var(--bg) center no-repeat/cover;
  border: 2px white solid;
  border-radius: 0.25rem;
}
.page__header .user--inline .avatar img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.page__header .user--inline .username {
  font-weight: 600;
}
.page__header .user--inline:hover .username, .page__header .user--inline:active .username {
  text-decoration: underline;
}
.page__header .user--inline:focus-within {
  outline: 2px solid white;
}
.page__header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 4px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  text-decoration: unset;
  font-family: unset;
  cursor: pointer;
  user-select: none;
  background: transparent;
  color: var(--header__text);
  transition: all 0.2s ease-in-out;
  padding: 2px 8px;
  border-radius: 8px;
  min-width: max-content;
}
.page__header .logo:has(.icon) .icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.page__header .logo:hover {
  background: color-mix(in oklch, transparent, black 10%);
}
.page__header .logo:active {
  background: color-mix(in oklch, transparent, black 40%);
}
.page__header .logo > svg {
  vertical-align: -0.5em;
}
.page__header .nav-group {
  display: flex;
  align-items: center;
  gap: 8px;
}
.page__header .nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 4px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  text-decoration: unset;
  font-family: unset;
  cursor: pointer;
  user-select: none;
  background: transparent;
  color: var(--header__text);
  transition: all 0.2s ease-in-out;
}
.page__header .nav__link:has(.icon) .icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.page__header .nav__link:hover {
  background: color-mix(in oklch, transparent, black 10%);
}
.page__header .nav__link:active {
  background: color-mix(in oklch, transparent, black 40%);
}
.page__header .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 4px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  text-decoration: unset;
  font-family: unset;
  cursor: pointer;
  user-select: none;
  background: var(--header__btn);
  color: var(--header__text);
  transition: all 0.2s ease-in-out;
}
.page__header .btn:has(.icon) .icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.page__header .btn:hover {
  background: color-mix(in oklch, var(--header__btn), black 10%);
}
.page__header .btn:active {
  background: color-mix(in oklch, var(--header__btn), black 40%);
}
.page__header .btn.btn--primary {
  background: var(--header__btn--primary);
}
.page__header .btn.btn--primary:hover {
  background: color-mix(in oklch, var(--header__btn--primary), black 10%);
}
.page__header .btn.btn--primary:active {
  background: color-mix(in oklch, var(--header__btn--primary), black 60%);
}
.page__header .nav__search {
  display: flex;
  overflow: hidden;
  border-radius: 8px;
}
.page__header .nav__search:active, .page__header .nav__search:focus-within {
  outline: 2px solid black;
}
.page__header .nav__search input {
  padding: 7px;
  outline: 0;
}
.page__header .nav__search .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 4px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  text-decoration: unset;
  font-family: unset;
  cursor: pointer;
  user-select: none;
  background: var(--header__btn--primary);
  color: var(--header__text);
  transition: all 0.2s ease-in-out;
  padding: 8px 10px;
  border-radius: unset;
}
.page__header .nav__search .btn:has(.icon) .icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.page__header .nav__search .btn:hover {
  background: color-mix(in oklch, var(--header__btn--primary), black 10%);
}
.page__header .nav__search .btn:active {
  background: color-mix(in oklch, var(--header__btn--primary), black 40%);
}
.page__body {
  display: grid;
  grid-template-areas: "aside-left body aside-right";
  grid-template-columns: auto 1fr auto;
  transition: grid-template-columns 0.5s ease-in-out;
}
.page__body[data-sidebars=left] .page__sidebar--right {
  display: none;
}
.page__body[data-sidebars=left] .page__sidebar--left {
  width: 200px;
}
.page__body[data-sidebars=right] .page__sidebar--left {
  display: none;
}
.page__body[data-sidebars=right] .page__sidebar--right {
  width: 300px;
}
.page__body[data-sidebars=none] {
  grid-template-areas: "body";
  grid-template-columns: 1fr;
}
.page__body[data-sidebars=none] .page__sidebar--right {
  display: none;
}
.page__body[data-sidebars=none] .page__sidebar--left {
  display: none;
}

.page__sidebar--left, .page__sidebar--right {
  position: sticky;
  top: 60px;
  height: calc(100dvh - 60px);
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  gap: 20px;
}
.page__sidebar--left .sidebar__group, .page__sidebar--right .sidebar__group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.page__sidebar--left .sidebar__group .sidebar__link, .page__sidebar--right .sidebar__group .sidebar__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
  background: transparent;
  color: var(--brand--primary);
  text-decoration: unset;
  font-weight: 600;
  vertical-align: center;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}
.page__sidebar--left .sidebar__group .sidebar__link:has(.icon) .icon, .page__sidebar--right .sidebar__group .sidebar__link:has(.icon) .icon {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  vertical-align: center;
}
.page__sidebar--left .sidebar__group .sidebar__link:has(.thumb) .thumb, .page__sidebar--right .sidebar__group .sidebar__link:has(.thumb) .thumb {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: 1px oklch(0% 0 0/20%) solid;
  border-radius: 8px;
}
.page__sidebar--left .sidebar__group .sidebar__link.link--dark:hover, .page__sidebar--left .sidebar__group .sidebar__link.link--dark:active, .page__sidebar--left .sidebar__group .sidebar__link.link--dark .active, .page__sidebar--right .sidebar__group .sidebar__link.link--dark:hover, .page__sidebar--right .sidebar__group .sidebar__link.link--dark:active, .page__sidebar--right .sidebar__group .sidebar__link.link--dark .active {
  background: var(--brand--primary);
  color: white;
}
.page__sidebar--left .sidebar__group .sidebar__link.link--light:hover, .page__sidebar--left .sidebar__group .sidebar__link.link--light:active, .page__sidebar--left .sidebar__group .sidebar__link.link--light .active, .page__sidebar--right .sidebar__group .sidebar__link.link--light:hover, .page__sidebar--right .sidebar__group .sidebar__link.link--light:active, .page__sidebar--right .sidebar__group .sidebar__link.link--light .active {
  background: var(--brand--primary);
  color: black;
}
.page__sidebar--left .sidebar__group .sidebar__link:hover, .page__sidebar--left .sidebar__group .sidebar__link:active, .page__sidebar--left .sidebar__group .sidebar__link .active, .page__sidebar--right .sidebar__group .sidebar__link:hover, .page__sidebar--right .sidebar__group .sidebar__link:active, .page__sidebar--right .sidebar__group .sidebar__link .active {
  background: var(--brand--primary);
  color: white;
}
.page__sidebar--left .sidebar__block, .page__sidebar--right .sidebar__block {
  display: flex;
  flex-direction: column;
  background: transparent;
  border: 1px oklch(0% 0 0/20%) solid;
  border-radius: 8px;
  overflow: hidden;
  background: oklch(100% 0 0);
}
.page__sidebar--left .sidebar__block .block__header, .page__sidebar--left .sidebar__block .block__body, .page__sidebar--right .sidebar__block .block__header, .page__sidebar--right .sidebar__block .block__body {
  display: flex;
  padding: 10px;
}
.page__sidebar--left .sidebar__block .block__header, .page__sidebar--right .sidebar__block .block__header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.page__sidebar--left .sidebar__block .block__header[style^="--bg"]:after, .page__sidebar--right .sidebar__block .block__header[style^="--bg"]:after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0) 100%), var(--bg) center/cover;
  z-index: -1;
}
.page__sidebar--left .sidebar__block .block__header[style^="--bg"] .heading, .page__sidebar--right .sidebar__block .block__header[style^="--bg"] .heading {
  flex: 1;
  font-weight: 600;
  color: white;
}
.page__sidebar--left .sidebar__block .block__header .heading, .page__sidebar--right .sidebar__block .block__header .heading {
  flex: 1;
  font-weight: 600;
  font-size: 16px;
  color: black;
}
.page__sidebar--left .sidebar__block .block__header .actions, .page__sidebar--right .sidebar__block .block__header .actions {
  display: flex;
  gap: 8px;
}
.page__sidebar--left .sidebar__block .block__header .action, .page__sidebar--right .sidebar__block .block__header .action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  gap: 4px;
  height: 24px;
  border-radius: 8px;
  background: oklch(0% 0 0/40%);
  color: white;
}
.page__sidebar--left .sidebar__block .block__header .action--icon, .page__sidebar--right .sidebar__block .block__header .action--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  height: 24px;
  width: 24px;
  border-radius: 8px;
  background: oklch(0% 0 0/40%);
  color: white;
  text-decoration: unset;
  font-size: 12px;
}
.page__sidebar--left .sidebar__block .block__body, .page__sidebar--right .sidebar__block .block__body {
  flex-direction: column;
  gap: 10px;
}
.page__sidebar--left .sidebar__block .block__body section.meta, .page__sidebar--right .sidebar__block .block__body section.meta {
  display: flex;
  align-items: center;
  gap: 10px;
}
.page__sidebar--left .sidebar__block .block__body section.meta .left, .page__sidebar--right .sidebar__block .block__body section.meta .left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: oklch(95% 0 0);
  aspect-ratio: 1/1;
  font-size: 24px;
}
.page__sidebar--left .sidebar__block .block__body section.meta .right, .page__sidebar--right .sidebar__block .block__body section.meta .right {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
}
.page__sidebar--left .sidebar__block .block__body section.meta .right > *, .page__sidebar--right .sidebar__block .block__body section.meta .right > * {
  flex: 1;
}
.page__sidebar--left .sidebar__block .block__footer, .page__sidebar--right .sidebar__block .block__footer {
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}
.page__sidebar--left .sidebar__block .block__footer .actions, .page__sidebar--right .sidebar__block .block__footer .actions {
  display: flex;
  gap: 8px;
}
.page__sidebar--left .sidebar__block .block__footer .action, .page__sidebar--right .sidebar__block .block__footer .action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 4px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  text-decoration: unset;
  font-family: unset;
  cursor: pointer;
  user-select: none;
  background: oklch(90% 0 0);
  color: black;
  transition: all 0.2s ease-in-out;
  flex: 1;
}
.page__sidebar--left .sidebar__block .block__footer .action:has(.icon) .icon, .page__sidebar--right .sidebar__block .block__footer .action:has(.icon) .icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.page__sidebar--left .sidebar__block .block__footer .action:hover, .page__sidebar--right .sidebar__block .block__footer .action:hover {
  background: color-mix(in oklch, oklch(90% 0 0), black 10%);
}
.page__sidebar--left .sidebar__block .block__footer .action:active, .page__sidebar--right .sidebar__block .block__footer .action:active {
  background: color-mix(in oklch, oklch(90% 0 0), black 40%);
}
.page__sidebar--left .sidebar__block .block__footer .action.action--primary, .page__sidebar--right .sidebar__block .block__footer .action.action--primary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 4px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  text-decoration: unset;
  font-family: unset;
  cursor: pointer;
  user-select: none;
  background: oklch(50% 0.13 330);
  color: white;
  transition: all 0.2s ease-in-out;
}
.page__sidebar--left .sidebar__block .block__footer .action.action--primary:has(.icon) .icon, .page__sidebar--right .sidebar__block .block__footer .action.action--primary:has(.icon) .icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.page__sidebar--left .sidebar__block .block__footer .action.action--primary:hover, .page__sidebar--right .sidebar__block .block__footer .action.action--primary:hover {
  background: color-mix(in oklch, oklch(50% 0.13 330), black 10%);
}
.page__sidebar--left .sidebar__block .block__footer .action.action--primary:active, .page__sidebar--right .sidebar__block .block__footer .action.action--primary:active {
  background: color-mix(in oklch, oklch(50% 0.13 330), black 40%);
}
.page__sidebar--left .sidebar__block.block--missing, .page__sidebar--right .sidebar__block.block--missing {
  background: oklch(80% 0 0/0.1);
  border: 2px dashed oklch(0% 0 0/0.4);
}
.page__sidebar--left .sidebar__block.block--missing .block__body, .page__sidebar--right .sidebar__block.block--missing .block__body {
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: oklch(0% 0 0/0.6);
}
.page__sidebar--left .sidebar__block.block--missing .block__body a, .page__sidebar--right .sidebar__block.block--missing .block__body a {
  color: unset;
}
.page__sidebar--left .sidebar__block.block--missing .icon, .page__sidebar--right .sidebar__block.block--missing .icon {
  font-size: 64px;
}
.page__sidebar--left {
  background: oklch(98% 0 0);
  grid-area: aside-left;
  width: 200px;
  /*  &.collapsed{
      .sidebar__link .text{
        display: none;
      }
    }*/
}

.page__content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  scroll-padding: 10px;
  grid-area: body;
}
.page__content > *:not(:last-child) {
  margin: 0 0 20px 0;
}
.page__content .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 4px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  text-decoration: unset;
  font-family: unset;
  cursor: pointer;
  user-select: none;
  background: var(--body__btn);
  color: var(--body__btn--text);
  transition: all 0.2s ease-in-out;
}
.page__content .btn:has(.icon) .icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.page__content .btn:hover {
  background: color-mix(in oklch, var(--body__btn), black 10%);
}
.page__content .btn:active {
  background: color-mix(in oklch, var(--body__btn), black 40%);
}
.page__content .btn.btn--primary {
  background: var(--body__btn--primary);
}
.page__content .btn.btn--primary:hover {
  background: color-mix(in oklch, var(--body__btn--primary), black 10%);
}
.page__content .btn.btn--primary:active {
  background: color-mix(in oklch, var(--body__btn--primary), black 60%);
}
.page__content .user--inline {
  display: inline-flex;
  align-items: center;
  vertical-align: center;
  gap: 4px;
  text-decoration: unset;
  color: black;
  padding: 2px;
  border-radius: 0.25rem;
}
.page__content .user--inline .avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: grey var(--bg) center no-repeat/cover;
  border: 2px black solid;
  border-radius: 0.25rem;
}
.page__content .user--inline .avatar img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.page__content .user--inline .username {
  font-weight: 600;
}
.page__content .user--inline:hover .username, .page__content .user--inline:active .username {
  text-decoration: underline;
}
.page__content .user--inline:focus-within {
  outline: 2px solid black;
}
.page__content .stories {
  max-width: 800px;
  background: white;
  height: max-content;
}
.page__content .stories > *:not(:last-child) {
  margin: 0 0 20px 0;
}
.page__content .story-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid oklch(0% 0 0/10%);
  background: white;
}
.page__content .story-container .story {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /*.story__body{
    display: flex;
    flex-direction: column;
  }*/
}
.page__content .story-container .story h {
  display: block;
}
.page__content .story-container .story .heading-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.page__content .story-container .story .heading-container > * {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.page__content .story-container .story .heading-container a {
  text-decoration: unset;
  color: unset;
}
.page__content .story-container .story .heading-container a:hover, .page__content .story-container .story .heading-container a:active {
  text-decoration: underline;
}
.page__content .story-container .story .heading-container .badge {
  font-style: unset;
  padding: 4px;
  border: 1px solid oklch(0% 0 0);
  border-radius: 0.5rem;
  pointer-events: none;
}
.page__content .story-container .story .story__heading {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--story__heading);
}
.page__content .story-container .story .story__source {
  font-size: 0.8rem;
}
.page__content .story-container .story .story__source .url {
  font-style: italic;
  opacity: 0.6;
}
.page__content .story-container .story .story__footer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.page__content .story-container .story .story__footer > * {
  display: flex;
  align-items: center;
  gap: 8px;
}
.page__content .story-container .story .story__footer .story__actions .action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 4px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  text-decoration: unset;
  font-family: unset;
  cursor: pointer;
  user-select: none;
  background: var(--story__btn--action);
  color: var(--story__btn--action--text);
  padding: 4px;
  border-radius: 4px;
  height: 24px;
  gap: 4px;
  transition: all 0.2s ease-in-out;
}
.page__content .story-container .story .story__footer .story__actions .action:has(.icon) .icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.page__content .story-container .story .story__footer .story__actions .action:hover {
  background: color-mix(in oklch, var(--story__btn--action), black 10%);
}
.page__content .story-container .story .story__footer .story__actions .action:active {
  background: color-mix(in oklch, var(--story__btn--action), black 40%);
}
.page__content .story-container .story .story__footer .story__actions .action:has(.icon) .icon {
  width: 16px;
  height: 16px;
  font-size: 12px;
}
.page__content .story-container .story .story__meta {
  opacity: 0.6;
}
.page__content .story-container .story .story__meta > * {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.page__content .story-container .left-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.page__content .story-container .left-container .left {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80px;
}
.page__content .story-container .left-container .left .story__score {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid oklch(0% 0 0/20%);
  border-radius: 8px;
  font-weight: 600;
}
.page__content .story-container .left-container .left .badges {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.page__content .story-container .left-container .left .badge-group {
  display: flex;
  align-items: center;
  gap: 4px;
}
.page__content .story-container .left-container .left .badge-group .badge {
  flex: 1;
}
.page__content .story-container .left-container .left .badge {
  display: flex;
  word-break: break-word;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4px;
  font-style: unset;
  padding: 6px 8px;
  border: 2px solid oklch(0% 0 0/0.2);
  border-radius: 0.5rem;
  color: oklch(0% 0 0/0.5);
  user-select: none;
}
.page__content .story-container .left-container .left .badge.badge--fill {
  border: 2px solid transparent;
  background: oklch(0% 0 0/0.2);
  color: black;
}
.page__content .story-container .left-container .thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid oklch(0% 0 0/20%);
  border-radius: 8px;
  background: grey var(--bg) center no-repeat/cover;
  font-size: 32px;
}
.page__content .story-container .left-container .thumb img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.page__content .comments-container > *:not(:last-child) {
  margin: 0 0 20px 0;
}
.page__content .comments-container .comments > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.page__content .comments-container .comment {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid oklch(0% 0 0/10%);
  background: white;
}
.page__content .comments-container .comment .left-col, .page__content .comments-container .comment .center-col, .page__content .comments-container .comment .right-col {
  display: flex;
  gap: 8px;
}
.page__content .comments-container .comment .left-col {
  align-items: center;
}
.page__content .comments-container .comment .left-col .col:first-child {
  align-items: center;
}
.page__content .comments-container .comment .left-col .col:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.page__content .comments-container .comment .center-col {
  flex: 1;
  flex-direction: column;
}
.page__content .comments-container .comment .avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: "";
  width: 48px;
  height: 48px;
  background: grey var(--bg) center no-repeat/cover;
  border: 2px grey solid;
  border-radius: 0.25rem;
}
.page__content .comments-container .comment .avatar img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.page__content .comments-container .comment .avatar:has(i, i.fa, i.fa-regular, i.fa-solid, .icon, iconify-icon) {
  font-size: 24px;
}
.page__content .comments-container .comment .comment__timestamp {
  color: oklch(0% 0 0/0.4);
}
.page__content .comments-container .comment .comment__score {
  display: flex;
  align-items: center;
  height: 24px;
  border-radius: 4px;
  overflow: hidden;
}
.page__content .comments-container .comment .comment__score .action, .page__content .comments-container .comment .comment__score .score {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 4px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  text-decoration: unset;
  font-family: unset;
  cursor: pointer;
  user-select: none;
  background: oklch(0% 0 0/0.1);
  color: white;
  transition: all 0.2s ease-in-out;
  height: 100%;
  padding: 4px;
  border-radius: unset;
  color: black;
}
.page__content .comments-container .comment .comment__score .action:has(.icon) .icon, .page__content .comments-container .comment .comment__score .score:has(.icon) .icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.page__content .comments-container .comment .comment__score .action:hover, .page__content .comments-container .comment .comment__score .score:hover {
  background: color-mix(in oklch, oklch(0% 0 0/0.1), black 10%);
}
.page__content .comments-container .comment .comment__score .action:active, .page__content .comments-container .comment .comment__score .score:active {
  background: color-mix(in oklch, oklch(0% 0 0/0.1), black 40%);
}
.page__content .comments-container .comment .comment__score .score {
  cursor: unset;
}
.page__content .comments-container #comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.page__content .comments-container #comment-form > *:not(:last-child) {
  width: 100%;
}
.page__content .comments-container #comment-form > *:last-child {
  width: auto;
}
.page__content .comments-container #comment-form .field-group {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.page__content .comments-container #comment-form .field-group *:not(label, .fixed) {
  flex: 1;
}
.page__content .comments-container #comment-form input, .page__content .comments-container #comment-form textarea {
  border-radius: 4px;
  padding: 8px;
  border: 1px solid oklch(0% 0 0/0.2);
}
.page__content .comments-container #comment-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 4px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  text-decoration: unset;
  font-family: unset;
  cursor: pointer;
  user-select: none;
  background: var(--brand--primary);
  color: white;
  transition: all 0.2s ease-in-out;
}
.page__content .comments-container #comment-form button:has(.icon) .icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.page__content .comments-container #comment-form button:hover {
  background: color-mix(in oklch, var(--brand--primary), black 10%);
}
.page__content .comments-container #comment-form button:active {
  background: color-mix(in oklch, var(--brand--primary), black 40%);
}
.page__sidebar--right {
  background: oklch(98% 0 0);
  grid-area: aside-right;
  width: 300px;
}

/*# sourceMappingURL=style.css.map */
